<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewPosition"
      >Add New</b-button
    >

    <b-modal
      id="modal-form-position"
      ref="modal-form-position"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Job Name"
          label-for="jobName"
          :valid-feedback="validfeedbackjobName"
          :invalid-feedback="invalidFeedbackjobName"
          :state="statejobName"
        >
          <b-form-input
            id="jobName"
            v-model="form.jobName"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="jobdescription"
          label-for="jobDescript"
          :valid-feedback="validfeedbackjobDescript"
          :invalid-feedback="invalidFeedbackjobDescript"
          :state="statejobDescript"
        >
          <b-form-input
            id="jobDescrip"
            v-model="form.jobDescript"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Position:" label-for="position">
          <b-form-select
            id="position"
            :valid-feedback="validfeedbackPosition"
            :invalid-feedback="invalidFeedbackPosition"
            :state="statePosition"
            v-model="form.position"
            :options="positionOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          label="Salarymin"
          label-for="salarymin"
        >
          <b-form-input
            id="salarymin"
            v-model="form.salarymin"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Salarymax"
          label-for="salarymax"
        >
          <b-form-input
            id="salarymax"
            v-model="form.salarymax"
            required
          ></b-form-input>
          </b-form-group>

          <b-form-group
          label="Age"
          label-for="age"
        >
          <b-form-input
            id="age"
            v-model="form.age"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Gender:" label-for="gender">
          <b-form-select
            id="gender"
            :valid-feedback="validfeedbackGender"
            :invalid-feedback="invalidFeedbackGender"
            :state="stateGender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>

      </form>

    </b-modal>

    <b-table striped hover :items="positionList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editPosition(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delPosition(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลใหม่',
      form: {
        id: -1,
        jobName: '',
        jobDescript: '',
        position: null,
        salarymin: '0.0',
        salarymax: '0.0',
        age: '0',
        gender: null
      },
      positionOptions: [
        { text: 'Select One', value: null },
        { value: 'Dev', text: 'Dev' },
        { value: 'part-time', text: 'part-time' }
      ],
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'Male', text: 'Male' },
        { value: 'Female', text: 'Female' }
      ],
      positionList: [
        { id: 1, jobName: 'NPT', jobDescript: 'สังคมน่าอยู่เพราะสร้างสรรค์ความสนุก', position: 'Dev', salarymin: '20000', salarymax: '40000', gender: 'male', age: '20' },
        { id: 2, jobName: 'CGG', jobDescript: 'สังคมรังสรรค์ความสนุกให้ร้องไห้', position: 'part-time', salarymin: '30000', salarymax: '40000', gender: 'female', age: '30' }
      ],
      lastId: 3,
      fields: ['id', 'jobName', 'position', 'jobDescript', 'salarymin', 'salarymax', 'gender', 'age', 'operation']
    }
  },
  methods: {
    addNewPosition () {
      console.log('add new position')
      this.title = 'เพิ่มข้อมูลใหม่'
      this.$bvModal.show('modal-form-position')
    },
    editPosition (position) {
      console.log('Edit')
      console.log(position)
      this.title = 'แก้ไขข้อมูล'
      this.form = { ...position }
      this.$bvModal.show('modal-form-position')
    },
    delPosition (position) {
      console.log('Delete')
      console.log(position)
      this.$bvModal
        .msgBoxConfirm('ท่ารต้องการลบตำแหน่ง ' + position.position + ' ในบริษัท ' + position.company + ' หรีอไม่!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deletePosition(position)
            // userSevice.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        jobName: '',
        jobDescrip: '',
        position: null,
        salarymin: '0.0',
        salarymax: '0.0',
        gender: null,
        age: '0'
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Exit when the form isn't valid
      if (this.stateName === false && this.statePosition === false) {
        return
      }
      // Push the name to submitted names
      if (this.form.id > 0) {
        this.updatePosition(this.form)
        // userSevice.updateUser(this.form)
        this.getPosition()
      } else {
        this.addPosition(this.form)
        // userSevice.addUser(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-position')
      })
    },
    addPosition (position) {
      position.id = this.lastId++
      this.positionList.push(position)
    },
    updatePosition (position) {
      const index = this.positionList.findIndex(item => item.id === position.id)
      this.positionList.splice(index, 1, position)
    },
    deletePosition (position) {
      const index = this.positionList.findIndex(item => item.id === position.id)
      this.positionList.splice(index, 1)
    },
    getPosition () {
      return [...this.positionList]
    }
  },
  computed: {
    stateCompany () {
      return this.form.company.length >= 2
    },
    invalidFeedbackCompany () {
      if (this.form.company.length > 2) {
        return ''
      }
      if (this.form.company.length > 0) {
        return 'ชื่อต้องมีขนาดอยอย่างน้อย 2 ตัวอักษร.'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validfeedbackCompany () {
      return this.stateCompany === true ? 'สำเร็จ' : ''
    },
    statePosition () {
      return this.form.position != null
    },
    invalidFeedbackPosition () {
      if (this.form.position != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validfeedbackPosition () {
      return this.statePosition === true ? 'สำเร็จ' : ''
    },
    validfeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    }
  },
  mounted () {
    console.log('Vue compronent is mounted.')
    this.getPosition()
  }
}
</script>
