<template>
  <login></login>
</template>

<script>
// @ is an alias to /src
import Login from '@/components/LoginScript.vue'

export default {
  name: 'Home',
  components: {
    Login
  }
}
</script>
