<template>
  <div id="app">
    <div class="vue-tempalte">
      <form @submit.prevent="login">
        <h3>Sign Up</h3>

        <div class="form-group">
          <label>Username</label>
          <input
            v-model="username"
            type="text"
            class="form-control form-control-lg"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            v-model="password"
            type="password"
            class="form-control form-control-lg"
          />
        </div>

        <button type="submit" class="btn btn-dark btn-lg btn-block">
          Sign In
        </button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: '',
      user: 'test',
      pass: 'test'
    }
  },
  methods: {
    login () {
      if (this.username === this.user && this.password === this.pass) {
        localStorage.setItem('username', this.user)
        window.location = '/position'
      } else {
        alert('Invalid username or password')
      }
    }
  }
}
</script>
