<template>
  <div class="side">
    <b-button v-b-toggle.sidebar-1>Main menu</b-button>
    <b-sidebar id="sidebar-1" title="More Information" shadow>
      <div>
        <b-nav vertical class="w-28">
          <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
          <b-nav-item
            ><router-link to="/position">ตำแหน่งงาน</router-link></b-nav-item
          >
          <b-nav-item
            ><router-link to="/createnewcompany"
              >จัดการบริษัท(สำหรับแอดมิน)</router-link
            ></b-nav-item
          >
          <b-nav-item
            ><router-link to="/personcreatenewcompany"
              >สร้างบริษัท(สำหรับบุคคล)</router-link
            ></b-nav-item
          >
        </b-nav>
      </div>
    </b-sidebar>
  </div>
</template>
<style>
.side {
  margin: 10px 0px 10px 0px;
}
</style>
